body:has(.bratia) {
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(17,69,126,1) 49%, rgba(215,20,26,1) 84%);
  }

  .flag {
    position: absolute;
    left: 29%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px,
    /* width: 50%;
    height: 100%; */
}
.flag img {
      filter: blur(20px);
      -webkit-filter: blur(20px);
    width: 250px;
  }

  .link {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 450px){
    .flag {
        width: 220px;
        height: 250px;
    }
    .flag img {
        width: 175px;
    }
  }